{$SITE_ADDRESS} {
    encode zstd gzip
    request_body {
        max_size 520MB
    }
    handle_path /static/* {
        root * /srv/static
        header Cache-Control "public, max-age=3600"
        file_server
    }
    handle {
        reverse_proxy web:8000 {
            header_up X-Forwarded-Proto {scheme}
            header_up X-IB-Client-IP {remote_host}
        }
    }
}
