{% load static %}
<meta name="theme-color" content="#2A3F5F">
<link rel="icon" type="image/png" href="{% static 'brand/logo-black.png' %}">
<link rel="preload" href="{% static 'brand/fonts/Montserrat-Regular.ttf' %}" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="{% static 'brand/fonts/Magistral-Medium.ttf' %}" as="font" type="font/ttf" crossorigin>
<link rel="stylesheet" href="{% static 'brand/fonts.css' %}?v=20260913-1">
<link rel="stylesheet" href="{% static 'brand/theme.css' %}?v=20260913-1">
